<div class="d-flex justify-content-center mt-4">
  <div
    class="container bg-dark rounded col-sm-12 col-md-8 col-lg-7 col-xl-6 col-12 bg-dark p-4 rounded border border-success border-5">
    <div class="d-flex">
      <img class="" src="{{selectedGuitarData.image}}" alt="{{ selectedGuitarData.image + '.jpg' }}" width="75"
        height="75" name="guitarImg" />
      <div class="d-flex justify-content-between container">
        <div class="text-success ms-3 fs-4 fw-bold w-75">
          {{ selectedGuitarData.name | uppercase }}
          <div class="text-white mt-2 fw-light fs-8">{{ selectedGuitarData.description }}</div>
        </div>
        <div class="text-secondary align-bottom fs-9 text-end">Price Revised
          on:{{selectedGuitarData.dateModified | date: 'MM/yy'}}
          <div [ngClass]="selectedGuitarData.soldOut==0?'bg-success':'bg-danger'" class="badge p-2 fs-4 price-float">
            $ {{math.round(selectedGuitarData.price)}}
          </div>
          <a [routerLink]="['/guitar/edit',selectedGuitarData.guitar_id]" class="btn bg-success text-white fw-bold">Edit</a>
          <div *ngIf="selectedGuitarData.soldOut==1" class="fs-5 fw-bold text-danger">Out-of-Stock</div>
        </div>
      </div>
    </div>
    <div *ngIf="isShown">
      <div class="mt-2 tab-slider--nav">
        <nav class="tab-slider--tabs mb-1">
          <a class="tab-slider--trigger rounded bg-white btn border-end border-dark border-2"
            [class.active]="viewMode == 'desc'" rel="desc" [routerLink]="['desc']"
            (click)="viewMode ='desc';setTitle('Description')">Description</a>
          <a class="tab-slider--trigger rounded bg-white btn border-end border-dark border-2"
            [class.active]="viewMode == 'specs'" rel="specs" [routerLink]="['specs']"
            (click)="viewMode ='specs';setTitle('Specifications')">Specifications</a>
          <a class="tab-slider--trigger rounded bg-white btn border-end border-dark border-2"
            [class.active]="viewMode == 'reviews'" rel="reviews" [routerLink]="['reviews']"
            (click)="viewMode ='reviews';setTitle('Reviews')">Reviews</a>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf="isHidden" class="text-success border-bottom border-white border-2 fw-bold fs-5">Thanks for shopping with
      us. you have just ordered a
      {{selectedGuitarData.image}} guitar</div>
    <div class="d-flex justify-content-between mt-3">
      <a routerLink="" class="text-decoration-none text-secondary">&lt;&lt; Go back to {{str}}</a>
      <button *ngIf="isShown && selectedGuitarData.soldOut==0" class="btn text-white bg-success" type="button"
        (click)="showCheckOut()">Checkout&gt;&gt;</button>

    </div>
    <div *ngIf="isShown" class="d-flex justify-content-between mt-2">
      <button [disabled]="selectedGuitarData.guitar_id<2" class="btn btn-secondary btn-sm text-dark fw-bold"
        (click)="viewPrevious()">&lt; Previous</button>
      <button [disabled]="selectedGuitarData.guitar_id>=guitarCount" class="btn btn-secondary btn-sm text-dark fw-bold"
        (click)="viewNext()">Next &gt;</button>
    </div>
  </div>
</div>
